<section class="hero">
  <div class="hero-content">
    <h1>Explore Incredible Destinations</h1>
    <p>Discover the most beautiful places around the world with TripWave.</p>
  </div>
</section>
<section class="popular-section">
  <h2>Popular Destinations</h2>
  <!-- Category Filter -->
  <div class="filter-buttons">
    <button
      [class.active]="selectedCategory=='all'"
      (click)="selectedCategory='all'">
      All
    </button>
    <button
      [class.active]="selectedCategory=='india'"
      (click)="selectedCategory='india'">
      India
    </button>
    <button
      [class.active]="selectedCategory=='international'"
      (click)="selectedCategory='international'">
      International
    </button>
  </div>
  <!-- Filter Bar -->
  <div class="filter-bar">
    <div class="search-box">
    <input
      type="text"
      placeholder=" Search destination..."
      [(ngModel)]="searchText"
    />
  </div>
    <!-- Rating Filter -->
    <select [(ngModel)]="selectedRating">
      <option value="0">All Ratings</option>
      <option value="2">Below 3★</option>
      <option value="3">3★ & above</option>
      <option value="2">Below 4★</option>
      <option value="4">4★ & above</option>
      <option value="5">5★ only</option>
    </select>
    <!-- Budget Filter -->
    <select [(ngModel)]="maxPrice">
      <option value="100000">All Budgets</option>
      <option value="20000">Below ₹20,000</option>
      <option value="50000">Below ₹50,000</option>
      <option value="80000">Below ₹80,000</option>
    </select>
    <select [(ngModel)]="maxDistance">
      <option value="20000">Anywhere</option>
  <option value="500">Within 500 km</option>
  <option value="1000">Within 1000 km</option>
  <option value="5000">Within 5000 km</option>
</select>
    <!-- Sort Filter -->
    <select [(ngModel)]="sortOption">
       <option value="">Sort By</option>
        <option value="priceLow">Price: Low → High</option>
        <option value="priceHigh">Price: High → Low</option>
      <option value="ratingHigh">Rating: High → Low</option>
    </select>
    <!-- Reset Filter -->
    <button class="reset-btn" (click)="resetFilters()">
      Reset
    </button>
  </div>
  <!-- Destination Cards -->
  <div class="card-grid">
    <div class="card" *ngFor="let place of visibleDestinations">
      <div class="card-image-wrapper">
        <img [src]="place.image" alt="{{ place.name }}">
        <div class="card-overlay" [routerLink]="['/explore', place.id]">
          <span class="overlay-text">View Details</span>
        </div>
        <div class="rating-badge">
          <b>{{ place.rating }}</b> <span class="star-icon">★</span>
        </div>
      </div>
      <div class="card-content">
        <div class="card-header">
          <h3>{{ place.name }}</h3>
          <span class="price">{{ currencyService.getCurrencySymbol(place.category) }} {{ currencyService.convertPrice(place.price, place.category) }}</span>
        </div>
        <p class="description">{{ place.description }}</p>
        
        <div class="card-footer">
          <span class="distance">
            📍 {{ calculateDistance(userLat, userLng, place.lat ?? 0, place.lng ?? 0) | number:'1.0-0' }} km away
          </span>
          <button [routerLink]="['/explore', place.id]" class="explore-btn">
            Explore <span class="arrow">→</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="load-more-container">
  <button
    class="load-more-btn"
    *ngIf="visibleCount < filteredDestinations.length"
    (click)="loadMore()">
    Load More Destinations
  </button>
</div>
<p *ngIf="filteredDestinations.length === 0" class="no-results" style="font-size: larger; color: rgb(17, 5, 127);">
No destinations found 
</p>
</section>